a{
    color: #0f0f0f;
    text-decoration: none;
    padding-left: 15px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.innerContainer{
    margin: 0px 0 0 15px;
}

.spinner{
    margin: 15px 20px;
}

h4{
    margin-bottom: 10px;
}
